.header{

	background: red;
	height: 330px;

}
.p2{

	margin-top: 30px;
	text-align: center;
	float: left;
	margin-left: 46%;
}
.header1{

	background: #B9BCAB;
	height: 40px;
	width: 140px;
	margin-right: 8px;
	margin-top: 30px;
	float: right;
	text-align: center;

}
.nav1{
	background: #5A8189;
	height: 40px;
	width: 1320px;
	margin-right: 8px;
	margin-top: 20px; 
	float:right;
	text-align: center;


}
.header2{

	background: #B9BCAB;
	height: 170px;
	width: 1320px;
	float: right;
	margin-right: 8px;
	margin-bottom:2px;
	margin-top: 13px; 
	text-align: center;

}
.p1{

	padding-top: 50px;
}
.section1{
	height: 130px;
	width: 1340px;
	background: red;
	margin-top: 15px;
	float: left;


}
.section2{
	height: 130px;
	width: 1340px;
	background: red;
	float: left;
	margin-top: 15px;




}
article{

	width: 300px;
	height: 80px;
	background: #B9BCAB;
	float: left;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	margin-right: 15px;
	margin-left: 17px;
}
.aside{

	width: 657px;
	height: 350px;
	background: #5A8189;
	float: right;
	margin-top: 15px;
	text-align: center;
	margin-right: 4px;

}

.aside1{

	margin-top: 140px;
	text-align: center;

}
.div2{

	width: 657px;
	height: 350px;
	background: #B9BCAB;
	float: left;
	margin-left: 3px;
	margin-top: 15px;


}
.div3{

	text-align: center;
	margin-top: 140px;
}
footer{
	height: 130px;
	width: 1340px;
	background: red;
	float: left;
	margin-left: 3px;
	margin-top: 15px;


}
.div4{

	height: 60px;
	width: 1320px;
	background: #B9BCAB;
	margin-left: 10px;
	margin-top: 40px;
}
.p3{

	text-align: center;
	margin-top: 15px;
	float: right;
	margin-right: 50%;
}
